
:root{
  --color1: rgba(131, 43, 43, 0.5);
}

.clickCard {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 208px;
  width: 150px;
  border: transparent;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(255, 0, 0, 0.4), 0 12px 40px 0 rgba(255, 0, 0, 0.40);
  /* border: 1px transparent; */
  transition: 1s;
}

/* .card {
  width: 300px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
} */

.playerCard{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 208px;
    width: 150px;
    /* border: 2px solid black; */
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4), 0 6px 20px 0 rgba(0, 0, 0, .4);
    transition: 1s;

}
button:disabled{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 208px;
    width: 150px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 1s;

}

.card-placeholder{
  background-color: var(--color1);
  transition: 1s;
}

.card-placeholder-1{
  margin-left:-4rem;
    transition: 1s;
    height: 208px;
    width: 150px;

  }
.card-placeholder-2{
    margin-left:-4rem;
    transition: 1s;
    height: 208px;
    width: 150px;
  }
  .card-placeholder-3{
    margin-left:-4rem;
    transition: 1s;
    height: 208px;
    width: 150px;
  }
  
  .card-placeholder-4{
      margin-left: 4rem;
      transition: 1s;
      height: 208px;
      width: 150px;
    }
.card-1{
  margin-left:-4rem;
    transition: 1s;
    background-color: var(--color1);
  }
.card-2{
    margin-left:-4rem;
    transition: 1s;
    background-color: var(--color1);
  }
  .card-3{
    margin-left:-4rem;
    transition: 1s;
    background-color: var(--color1);
  }
  
  .card-4{
      margin-left: 4rem;
      transition: 1s;
      background-color: var(--color1);
    }
    .card-1-right{
      margin-left:-4rem;
      /* margin-right:-4rem; */
        transition: 1s;
        background-color: var(--color1);
      }
    .card-2-right{
        margin-left:-4rem;
        /* margin-right:-4rem; */
        transition: 1s;
        background-color: var(--color1);
      }
      .card-3-right{
        margin-left:-4rem;
        margin-right:-14rem;
        transition: 1s;
        background-color: var(--color1);
      }
      
      .card-4-right{
          margin-left: -24rem;
          transition: 1s;
          background-color: var(--color1);
        }

@media only screen and (max-width: 1400px) {
  .card-placeholder-1{
      height: 138px;
      width: 100px;
    }
  .card-placeholder-2{
      height: 138px;
      width: 100px;
    }
    .card-placeholder-3{
      height: 138px;
      width: 100px;
    }
    
    .card-placeholder-4{
        height: 138px;
        width: 100px;
      }
      .clickCard{
        height: 138px;
        width: 100px;
      }
      
      .playerCard{
          height: 138px;
          width: 100px;
      }
      button:disabled{

          height: 138px;
          width: 100px;

      
      }
        }

@media only screen and (max-width: 400px) {
          .card-placeholder-1{
              height: 90px;
              width: 50px;
            }
          .card-placeholder-2{
              height: 90px;
              width: 50px;
            }
            .card-placeholder-3{
              height: 90px;
              width: 50px;
            }
            
            .card-placeholder-4{
                height: 90px;
                width: 50px;
              }
              .clickCard{
                height: 90px;
                width: 50px;
              }
              
              .playerCard{
                  height: 90px;
                  width: 50px;
              }
              button:disabled{
        
                  height: 90px;
                  width: 50px;
        
              
              }
                }