.grid-container {
    display: grid;
    grid-template-columns: 75px  75px 75px 75px;

}

.deal {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .deal:hover{
    background-color: #347738; /* Green */
  }


.drawLeft{
  margin-right: 5rem;
}
.drawRight{
  margin-left: 5rem;
}

/* Modal React Tutorial */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* text-align: left; */

}

.modal-content{
  width: 50%;
  overflow:auto;
  color: black;
  /* height: 100%; */
  background-color: #fff;
  /* overflow: hidden; */
}

.modal-header, .modal-footer{
  padding: 10px;
}

.modal-title{
  margin: 0;
}

.modal-body{
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-left: 5rem;
  margin-right: 5rem;
  text-align: left;
  /* margin: 25px 500px 25px 500px; */
}
button[type=submit]:disabled{
  display: none;
}

/* 
@media only screen and (max-width: 1500px)  {
.modal-body{
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-left: 2rem;
  margin-right: 2rem;
  /* margin: 25px 500px 25px 500px; */


@media only screen and (max-width: 450px)  {
  .modal-content{
    width: 80%;
    overflow:auto;
    /* height: 100%; */
    background-color: #fff;
    /* overflow: hidden; */
  }

}