.grid-container {
    display: grid;
    grid-template-columns: 75px  75px 75px 75px;

}

.deal {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .deal:hover{
    background-color: #347738; /* Green */
  }



